.btn{
    margin-top: 5rem;
    width: 100%;
}
.btn1{
    font-size: 20px;
    background: orange;
    padding: 10px 20px;
    border-radius: 25px;
    width: 15rem;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.267);
    transition: background-color 0.8s ease-in-out;
    cursor: pointer;
}
.btn1:hover{
    transition: background-color 0.6s ease-in-out;
    background-color: #ff99008c; 
    
}
.btn2{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 15rem;
    border: 2px solid orange;
    background: transparent;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.267);
    transition: background-color 0.8s ease-in-out;
    cursor: pointer;
}
.btn2:hover{
    background-color: #ff9900fd; 
}

