.block2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
    gap: 5rem;
    background: coral;
}

  .block2  .image-container:nth-child(1){
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-image: url(../../../../img/global/gato-domestico-cinza-fofo-com-cabelo-comprido-mostrando-sua-afeicao-por-um-cachorro-marrom-com-cabelo-comprido.jpg);
    background-size: cover;
   
  }

  .block2  .image-container:nth-child(2){
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: red;
    background-size: cover;
  }

  .block2  .image-container:nth-child(3){
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: green;
    background-size: cover;
  }

  .block2  .image-container:nth-child(4){
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: blue;
    background-size: cover;
  }

  .block2  .image-container:nth-child(5){
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: purple;
    background-size: cover;
  }
  
